<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Hero and Villans</title>
</head>
<body>

	<h1>Meet our hero!</h1>
	name: {{ hero.getName }}
	<br>
	health: {{ hero.getHealth }}
	<br>
	secret identity {{ hero.getSecretIdentity }}
	<br>
	is alive?: {{ hero.isAlive }}
		

	<h1>Meet our monsters!</h1>
	
	<table>
		<thead>
		<tr>
			<th>name</th>
			<th>classification</th>
			<th>health</th>
			<th>is Alive</th>
		</tr>	
	</thead>
	</tbody>
		{{#monsters}}
		<tr>
		<td>{{ this.getName }}</td>
		<td>{{ this.getClassification}}</td>
		<td>{{ this.getHealth }}</td>
		<td>{{ this.isAlive }}</td>
	</tr>
		{{/monsters}}
	</tbody>	
	</table>
	
	<br>
	<br>
	<br>	
	<hr>

	
	{{^isGameOver}}	
		<form action ="fight" method="post">
		<button>fight</button>
		</form>	
	{{/isGameOver}}
	
	{{#isGameOver}}
	
		{{#hero.isAlive}}
			<h2>{{the hero get.SecretIdentity}} beat the monsters</h2>		
		{{/hero.isAlive}}
	
		{{^hero.isAlive}}
			<h2>{{victoriousMonster.getName}} beat the hero</h2>	
		{{/hero.isAlive}}
	
	{{/isGameOver}}	
	
	<form action="/reset" method="post">
	<button>Reset Game</button>
	</form>
	
	

</body>
</html>